<div class="d-flex flex-column align-items-center" style="gap: 50px;">
    <div class="header">
        <h2 class="main-title text-uppercase mb-0" style="
    font-size: 60px;
">
           List of Transactions
        </h2>
    </div>
    <div class="send-money-container d-flex justify-content-start align-items-center flex-column w-100">
        <div order-index="0" class="send-money-item d-flex justify-content-evenly align-items-center mb-3"><div class="col-2 d-flex justify-content-center align-items-center flex-column"><img class="send-money-img" src="/img/user.png"></div><div class="col-8 d-flex justify-content-center flex-column ms-2"><p class="send-money-name text-uppercase">Joseph Tribbiani</p><p class="send-money-email">joseph.tribbiani@email.com</p></div><div class="col-2 d-flex justify-content-center align-items-center"></div><div class="col-2 d-flex justify-content-center align-items-center"><p class="send-money-name text-uppercase">- $150</p></div></div>
</div>
</div>