@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
<div class="row register-card mb-5">
    <h2 class="mb-4">Create a new account:</h2>
    <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label> 
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.BirthYear" class="form-control" aria-required="true" />
                <label asp-for="Input.BirthYear"></label>
                <span asp-validation-for="Input.BirthYear" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.Address" class="form-control" aria-required="true" />
                <label asp-for="Input.Address"></label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
                        <button id="registerSubmit" type="submit" class="w-50 btn btn-lg btn-primary mt-5">Register</button>
            </div>
        <div class="col-md-6">
            <div class="form-floating mb-2">
                <input asp-for="Input.PostalCode" class="form-control" aria-required="true" />
                <label asp-for="Input.PostalCode"></label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.City" class="form-control" aria-required="true" />
                <label asp-for="Input.City"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.Country" class="form-control" aria-required="true" />
                <label asp-for="Input.Country"></label>
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            </div>
    </div>
        </form>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
