<div class="d-flex flex-column align-items-center" style="gap: 50px; ">
    <div class="header" style="
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
">
        <h2 class="main-title text-uppercase mb-3" style="
    font-size: 60px;
">
            Loan Simulation
        </h2>
        <p style="font-weight: 300; text-align: center;">Run a simulation for your desired personal-needs loan*. Enter the amount and period, and we'll provide you with a detailed simulation! Based on the data you input, we will apply a country-specific interest and calculate the monthly payment and the final payable amount:</p>
    </div>
    <div class="inputs" style="
    width: 50%;
">
        <div style="
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
">
            <p class="text-uppercase me-3 col-md-3" style="letter-spacing: 0.25rem;">Loan Amount:</p>
            <input id="inputAmount" class="form-control" type="number" style="
    width: 45%;
">
        </div>
        <div style="
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
">
            <p class="text-uppercase me-3 col-md-3" style="letter-spacing: 0.25rem;">Loan Period:</p>
            <input id="inputPeriod" class="form-control" type="number" style="
    width: 45%;
">
        </div>
        <div style="
    display: flex;
    align-items: center;
">
            <p class="text-uppercase me-3 col-md-3" style="letter-spacing: 0.25rem;">Country:</p>
            <select class="form-select custom-select-blue" name="countries" id="countries" style="width: 45%;">
                <option value="Australia">Australia</option>
                <option value="Brazil">Brazil</option>
                <option value="Canada">Canada</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Hungary">Hungary</option>
                <option value="India">India</option>
                <option value="Norway">Norway</option>
                <option value="Poland">Poland</option>
                <option value="South Africa">South Africa</option>
                <option value="South Korea">South Korea</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Türkiye">Turkey</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
            </select>
        </div>
    </div>
    <div class="simulation d-none" style="width: 50%;border: 1px solid #ffffff47;border-radius: 5px;background: #00000014;padding: 20px 50px;">
        <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
">
            <img class="email-simulation" src="/img/simulation-mail.png" title="Get email with current simulation" style="
    width: 30px;
    position: absolute;
    right: 0;
    cursor: pointer;
">
            <h4 style="
    text-align: center;
    font-family: Roboto Thin;
    font-size: 32px;
    margin: 0;
">
                Simulation Results
            </h4>

            <div style="
    display: flex;
    align-items: center;
    width: max-content;
">
                <img src="/img/rapidapi.png" style="
    width: 40px;
    margin-right: 15px;
"><p id="interestRateUpdatedText" style="
    font-weight: 200;
    font-size: 14px;
">...</p>
            </div>
        </div><hr><div style="
    display: flex;
    justify-content: space-between;
">
            <p class="simulation-label">Monthly Payment:</p>
            <p class="simulation-value" id="monthlyPaymentValue">$215.52</p>
        </div>
        <div style="
    display: flex;
    justify-content: space-between;
">
            <p class="simulation-label">APR:</p>
            <p class="simulation-value" id="interestValue">7.00%</p>
        </div>
        <div style="
    display: flex;
    justify-content: space-between;
">
            <p class="simulation-label">Total Payable Amount:</p>
            <p class="simulation-value" id="totalPayableAmountValue">$5387.99</p>
        </div>
    </div>
    <div class="action-buttons d-flex justify-content-center flex-column align-items-center" style="width: 40%;">
        <a id="runSimulation" class="btn btn-primary d-flex align-items-center justify-content-around mb-2" style="width: 50% !important;">
            <p class="action-buttons-text">
                Run Simulation
            </p>
        </a>
        <a class="btn btn-light d-flex align-items-center justify-content-around" style="width: 50% !important;" href="/">
            <p class="action-buttons-text text-dark">
                Go Back
            </p>
        </a>
        <span style="
    color: #c9c9c9;
    font-style: italic;
    font-size: 12px;
    margin-top: 2rem;
">* Personal-need loans must not exceed $30.000 or 60 months</span>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("countries").selectedIndex = -1;

    const simulation = document.querySelector('.simulation');
    const monthlyPayment = document.querySelector('#monthlyPaymentValue');
    const interest = document.querySelector('#interestValue');
    const totalPayableAmount = document.querySelector('#totalPayableAmountValue');

    function toTitleCase(str) {
        return str.replace(
            /\w\S*/g,
            function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            }
        );
    }

    function displayAlert(icon, title, message) {
        Swal.fire({
            icon: icon,
            title: title,
            text: message
        })
    }

    document.querySelector('#runSimulation').addEventListener('click', () => {
        const countryRaw = document.querySelector("#countries");
        const country = toTitleCase(countryRaw.value);
        const amount = document.querySelector('#inputAmount');
        const period = document.querySelector('#inputPeriod');
        const interestUpdated = document.querySelector('#interestRateUpdatedText');
        const emailSimulation = document.querySelector('.email-simulation');


        if (!amount.value || !period.value || !country) {
            displayAlert("error", "Incomplete fields", "Please provide all the necessary data for the simulation");
        } else if (amount.value < 1000 || amount.value > 30000) {
            displayAlert("error", "Invalid loan amount", "For personal-need loans, the amount must be between $1.000 and $30.000");
        } else if (period.value < 1 || period.value > 60) {
            displayAlert("error", "Invalid loan period", "For personal-need loans, the period must be between 1 and 60 months")
        } else {
            fetch(`/Loan/Simulate?country=${country}&amount=${amount.value}&period=${period.value}`).then(data => data.json())
                .then(res => {
                    console.log(res);
                    monthlyPayment.textContent = '$' + new Intl.NumberFormat('en-In', {}).format(res.monthlyPayment.toFixed(2));
                    totalPayableAmount.textContent = '$' + new Intl.NumberFormat('en-In', {}).format(res.totalPayableAmount.toFixed(2));
                    interest.textContent = res.interest.toFixed(2) + '%';
                    interestUpdated.textContent = `${res.centralBank} interest rate updated on ${res.lastUpdated}, provided by RapidAPI`;
                    simulation.classList.remove('d-none');
                    emailSimulation.addEventListener('click', () => {
                        fetch(`/Loan/SendSimulationEmail?country=${country}&amount=${amount.value}&period=${period.value}&monthlyPayment=${res.monthlyPayment.toFixed(2)}&interest=${res.interest.toFixed(2)}&totalPayableAmount=${res.totalPayableAmount.toFixed(2)}&centralBank=${res.centralBank}&lastUpdated=${res.lastUpdated}`, { method: 'POST' })
                            .then(() => {
                                displayAlert("success", "Email sent", "An email has been sent to your email address with the current simulation");
                                simulation.classList.add('d-none');
                                countryRaw.value = null;
                                amount.value = null;
                                period.value = null;
                            })
                    })
                }).catch(err => {
                    console.error(err);
                    displayAlert("error", "Something went wrong", "Data is currently unavailable for the selected country, please try again later");
                });
        }
    });
</script>