<div class="container-fluid">
    <div class="row">
        <div class="main-title-container col-md-5 d-flex flex-column">
            <h2 class="main-title">YOUR BANK IS HERE!</h2>
            <h4 class="secondary-title">Get access to the 24 banking system that provides you with instant payments and full transaction history!</h4>
            <h4 class="secondary-title mb-5">Join today!</h4>
            <a class="btn btn-primary btn-lg mb-3" asp-area="Identity" asp-page="/Account/Register">Register for free</a>
            <a class="btn btn-secondary btn-lg" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
        </div>
        <div class="col-md-7 d-flex align-items-center">
            <img class="main-image" src="/img/bank-illustration5.png" />
        </div>
    </div>
</div>