<div class="container-fluid">
    <div class="row">
        <div class="col-md-5" style="
    padding: 100px;
    display: flex;
    flex-direction: column;
">
            <h2 style="
    font-size: 70px;
    color: white;
    font-family: Roboto Thin;
    margin-bottom: 30px;
">YOUR BANK IS HERE!</h2>
            <h4 style="
    color: white;
    font-family: Roboto Thin;
    font-size: 30px;
    margin-bottom: 15px;
">Get access to the 24 banking system that provides you with instant payments and full transaction history!</h4><h4 style="
    color: white;
    font-family: Roboto Thin;
    font-size: 30px;
    margin-bottom: 35px;
">Join today!</h4>
            <button class="btn btn-primary btn-lg" style="
    margin-bottom: 15px;
">Register for free</button>
            <button class="btn btn-secondary btn-lg">Sign in</button>
        </div>
        <div class="col-md-7">
            <img src="/img/bank-illustration5.png" style="width: 75%;
    position: relative;
    left: 100px;">
        </div>
    </div>
</div>