html {
    font-size: 14px;
    position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html, body {
    min-height: 100%;
}

body {
    padding: 0 75px 0 75px;
    background: linear-gradient(180deg, rgba(52,89,230,1) 0%, rgba(55, 9, 45, 1) 100%);
}

footer {
    width: auto !important;
    line-height: inherit !important;
}

p {
    margin-bottom: 0 !important;
}

.user-card {
    background: linear-gradient(30deg, rgb(251 146 35) 0%, rgba(250,206,35,1) 100%);
    border-radius: 5px;
}

.card-number {
    margin: auto;
    color: #392766;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: Roboto Thin;
    font-size: 20px;
}

.expiration-date {
    margin-right: 3rem;
    color: #392766;
    font-weight: bold;
    letter-spacing: 4px;
    font-family: Roboto Thin;
    font-size: 14px;
}

.card-name {
    color: #392766;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: Roboto;
}

.balance {
    width: 40%;
    border: 1px solid #6863b7;
    padding: 15px;
    border-radius: 10px;
}

.balance-text {
    margin: 0;
    color: white;
    letter-spacing: 7px;
    font-size: 21px;
    font-family: Roboto Thin;
}

.action-buttons-text {
    margin: 0 5% 0 0;
}

.main-title {
    font-size: 70px;
    color: white;
    font-family: Roboto Thin;
    margin-bottom: 30px;
}

.secondary-title {
    color: white;
    font-family: Roboto Thin;
    font-size: 30px;
    margin-bottom: 15px;
}

.main-image {
    width: 75%;
    position: relative;
    left: 100px;
}

.logo-layout {
    max-width: 70px;
}

.register-card {
    padding: 50px;
    border: 1px solid #968ec9;
    border-radius: 10px;
    background: #0000001a;
}

.link-hover-behavior:hover {
    background-color: transparent; !important
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #242c8f inset;
    -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 50px #242c8f inset;
        -webkit-text-fill-color: white;
    }

.items-container {
    min-height: 550px;
}

.item {
    width: 50%;
    border: 1px solid #8a86c7;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

    .item:hover {
        background: rgb(255 255 255 / 5%);
    }

.item-img {
    width: 55%;
}

.item-name {
    margin: 0;
    color: white;
    letter-spacing: 4px;
    font-size: 25px;
    font-family: Roboto Thin;
    line-height: 30px;
    font-weight: bold;
}

.item-email {
    font-family: Roboto Thin;
    color: #ececec;
    font-style: italic;
}

.item-timestamp {
    font-family: Roboto Thin;
    font-style: italic;
    color: #c5c5c5;
}

.hr-transaction {
    margin: 0.75rem 0;
    color: white;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
    width: 75%;
}

.send-money-item-selected {
    width: 50%;
    border: 1px solid #22296733;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(139 131 255 / 29%);
    box-shadow: 0px 0px 20px 7px #22296752;
}

.close-icon {
    width: 30%;
    cursor: pointer
}

    .close-icon:hover {
        filter: brightness(0.80);
    }
